<html>
    <body bgcolor=#00a8d1>

        <center>

        <h1> Kyphosis Prediction App</h1><br>
        
        <form method="POST", action="{{url_for('predict')}}">
           <b> 
            Age :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Number :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Start :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            <input type="submit" , value='predict' >
        </form>
        
        </center>

    </body>
</html>
